{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="row">
        <p>
              <h2 class="titrePage">Administration des classifications des Sous Classe (SC) : Produit | Service</h2>
            <a style="text-decoration: none;" href="{{  path('souscategorieentite_index') }}"><span class="fa fa-arrow-circle-left"></span> Les sous categories liés aux produit ou service  </a>
        </p>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">la liste des sous produit ou service</h3>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Classe liée</th>
                    <th>Sous Classe</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for sousCategorieEntite in sousCategorieEntites %}

                    <tr>

                        <td>{{ sousCategorieEntite.code }}</td>
                        <td>{{ sousCategorieEntite.sousCategorieEntite.nomEntite }}</td>
                        <td>{{ sousCategorieEntite.nomEntite }}</td>
                        <td>
                            <a style="text-decoration: none; color: #003eff" href="{{ path('souscategorieentite_show', { 'id': sousCategorieEntite.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Afficher</a>
                            <span>&nbsp;&nbsp;</span> 
                            {% if app.user is defined and app.user is not null%}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a style="text-decoration: none; color: #003eff" href="{{ path('souscategorieentite_edit', { 'id': sousCategorieEntite.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Modification</a>
                                    <span>&nbsp;&nbsp;</span> 
                                    <a style="text-decoration: none; color: #003eff" href="{{ path('indicasousprodser_new') }}"><span class="glyphicon glyphicon-plus"></span> Affecter un indicateur</a>
                                    <span>&nbsp;&nbsp;</span> 
                                    <a style="text-decoration: none; color: #003eff" href="{{ path('marchandise_lier', { 'id': sousCategorieEntite.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> voir les marchandises liées</a>
                                    
                                {% endif %}
                            {% endif %}

                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <P>
        {% if app.user is defined and app.user is not null%}
            {% if is_granted('ROLE_ADMIN') %}
                <a style="text-decoration: none; color: #003eff" href="{{ path('souscategorieentite_addSousCateD1Produit', { 'id': id }) }}"><span class="glyphicon glyphicon-plus"></span> Sous classe</a>
                <span>&nbsp;&nbsp;</span> 
                <a style="text-decoration: none; color: #003eff" href="{{ path('indicasousprodser_index') }}"><span class="glyphicon glyphicon-eye-open"></span> Vers la liste des Indicateurs de sous Categories</a>
            {% endif %}
        {% endif %}
    </P>
    
            <div style="text-align: center"> 
        <ul class="pagination">
            {% for p in range(1, nbrTotalPages) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('souscategorieentite_index', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
