{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="row">
        <p>
            <a style="text-decoration: none;" href="{{  path('souscategorieentite_index') }}"><span class="fa fa-arrow-circle-left"></span> Les produits lié aux sous categories </a>
            | Afficher une entité d'une sous categorie
        </p>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Sous categorie entite</h3>
        </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ sousCategorieEntite.sousCategorieEntite.code }}{{ sousCategorieEntite.code }}</td>
            </tr>
            <tr>
                <th class="titrePage">{{ sousCategorieEntite.sousCategorieEntite.nomEntite }}</th>
                <td></td>
            </tr>
            <tr>
                <th>Nom entite</th>
                <td>{{ sousCategorieEntite.nomEntite }}</td>
            </tr>
        </tbody>
    </table>

 </div>
             <p>
            <a style="text-decoration: none; color: #003eff" href="{{ path('souscategorieentite_index')  }}" class="fa fa-arrow-circle-left"> Retour vers la liste</a> &nbsp;&nbsp;&nbsp;
            <a style="text-decoration: none; color: #003eff" href="{{ path('souscategorieentite_edit', { 'id': sousCategorieEntite.id })  }}"> <span class="glyphicon glyphicon-pencil"></span> Modification</a>&nbsp;&nbsp;&nbsp;
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete"  class="btn btn-danger">
            {{ form_end(delete_form) }}
        </p>
{% endblock %}
