{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="row well">
        <div class="col-md-8 formCat">
        {{ form_start(form, {'attr': {'class': 'form-horizinal'}}) }}
        <div>
            {{ include('mesformulaire/categorie_entite.html.twig') }}<br>
            
        </div>
            <P class="col-md-5">
                <button class="btn btn-primary boutonCateEn">Valider <span class="fa fa-check"></span></button><br><br>
                <span class="fa fa-plus"> <a style="text-decoration: none; color: blue;" href="{{path('utilisateur_entite') }}">Nouvelle Entité</a></span>
                <span>&nbsp;</span>
                {#<span class="fa fa-eye"> <a style="text-decoration: none; color: blue;" href="{{path('utilisateur_list_categorie') }}">Voir les categories de produits</a></span>#}
            </P>
        {{ form_end(form) }}
        </div>
        <div class="col-md-4 tabCat">
            {{ render(controller("UtilisateurBundle:Admin:listCategorie")) }}
            <P class="smsCat">
                Veuillez cliquer une une categorie pour voir ses produits
            </P>
        </div>
    </div>
{% endblock %}