{% extends "::layout/layout.html.twig" %}

{% block body %}

<div class="arborescence">
        <div class="row">
            <div>
                <ul id="tree1">

                    <li><a href="#">CIS</a>

                        <ul>
                            <li>Produit
                                <ul>
                                    {% for categorieEntite in categorieEntites %}
                                        {% if categorieEntite.typeCat == 'Produit' %}
                                            <li> {{ categorieEntite.nomEntite }}<span>&nbsp;&nbsp;</span>
                                                <a title="Ajouter une sous categorie" style="text-decoration: none; color: #003eff" href="{{ path('souscategorieentite_addSousCateD1Produit', { 'id': categorieEntite.id }) }}" target="_blank"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
                                                <span>&nbsp;&nbsp;</span>
                                                <a title="Affectez à un indicateur" style="text-decoration: none; color: #003eff" href="{{ path('indicaprodser_add', { 'id': categorieEntite.id }) }}" target="_blank"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </a>
                                                <span>&nbsp;&nbsp;</span>
                                                <a title="Les indicateur liés cette entité" style="text-decoration: none; color: #003eff" href="{{ path('indicaprodser_indicatD1ProdSer', { 'id': categorieEntite.id }) }}" target="_blank"><span class="fa fa-bars" aria-hidden="true"></span> </a>
                                                <ul>
                                                    {% if sousCategorieEntites %}
                                                        {% for sousCategorieEntite in sousCategorieEntites %}
                                                            {% if sousCategorieEntite.sousCategorieEntite.id == categorieEntite.id %}
                                                                <li>{{ sousCategorieEntite.nomEntite }} 
                                                                    <span>&nbsp;&nbsp;</span>
                                                                    <a target="_blank" title="Ajouter une marchandise" style="text-decoration: none; color: #003eff" href="{{ path('marchandise_add', { 'id': sousCategorieEntite.id }) }}" target="_blank"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
                                                                    <span>&nbsp;&nbsp;</span>
                                                                    <a title="Affectez à un indicateur" style="text-decoration: none; color: #003eff" href="{{ path('indicasousprodser_add', { 'id': sousCategorieEntite.id }) }}" target="_blank"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </a>
                                                                    <span>&nbsp;&nbsp;</span>
                                                                    <a title="Les indicateur liés cette sous categorie" style="text-decoration: none; color: #003eff" href="{{ path('indicaprodser_indicatD1SousCateg', { 'id': sousCategorieEntite.id }) }}" target="_blank"><span class="fa fa-bars" aria-hidden="true"></span> </a>

                                                                    <ul>
                                                                        {% if marchandises %}
                                                                            {% for marchandise in marchandises %}
                                                                                {% if marchandise.sousCategorieEntite.id == sousCategorieEntite.id %}
                                                                                    <li>{{ marchandise.libelle }}<span>&nbsp;&nbsp;</span>
                                                                                        <a title="Fiche de la marchandise" style="text-decoration: none; color: #003eff" href="{{ path('marchandise_show', { 'id': marchandise.id }) }}" target="_blank"><span class="fa fa-eye" aria-hidden="true"></span> </a>
                                                                                        <span>&nbsp;&nbsp;</span>
                                                                                        <a title="Ajouter un indicateur pour la marchandise" style="text-decoration: none; color: #003eff" href="{{ path('indicamarcha_add', { 'id': marchandise.id }) }}" target="_blank"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </a>
                                                                                       <span>&nbsp;&nbsp;</span>
                                                                                        <a title="Liste des indicateurs de la marchandise" style="text-decoration: none; color: #003eff" href="{{ path('indicamarcha_indicatD1Marcha', { 'id': marchandise.id }) }}" target="_blank"><span class="fa fa-bars" aria-hidden="true"></span> </a>
                                                                                    </li> 
                                                                                    <ul>
                                                                                        <li>Consommation
                                                                                            <ul>
                                                                                                {% for consommateur in consommateurs %}
                                                                                                    {% if consommateur.marchandise.id == marchandise.id  %}
                                                                                                        <li>{{ consommateur.typeConsommateur }} : {{ consommateur.libelle }} </li>
                                                                                                        {% endif %}
                                                                                                    {% endfor %}

                                                                                            </ul>
                                                                                        </li>    
                                                                                    </ul>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %} 

                                                                    </ul>     
                                                                    <ul>
                                                                        <li>Opérateur
                                                                            <ul>
                                                                                {% for operatSousCateg in operatSousCategs %}
                                                                                    {% if operatSousCateg.sousCategEntite.id == sousCategorieEntite.id  %}
                                                                                        <li>{{ operatSousCateg.operateur.typeOperateur }} : {{ operatSousCateg.operateur.libelle }} </li>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                            </ul>
                                                                        </li>    
                                                                    </ul>     
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>Service
                                <ul>
                                    {% for categorieEntite in categorieEntites %}
                                        {% if categorieEntite.typeCat == 'Service' %}
                                            <li> {{ categorieEntite.nomEntite }}<span>&nbsp;&nbsp;</span>
                                                <a title="Ajouter une sous categorie" style="text-decoration: none; color: #003eff" href="{{ path('souscategorieentite_addSousCateD1Produit', { 'id': categorieEntite.id }) }}" target="_blank"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
                                                <span>&nbsp;&nbsp;</span>
                                                <a title="Affectez à un indicateur" style="text-decoration: none; color: #003eff" href="{{ path('indicaprodser_add', { 'id': categorieEntite.id }) }}" target="_blank"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </a>
                                                <span>&nbsp;&nbsp;</span>
                                                <a title="Les indicateur liés cette entité" style="text-decoration: none; color: #003eff" href="{{ path('indicaprodser_indicatD1ProdSer', { 'id': categorieEntite.id }) }}" target="_blank"><span class="fa fa-bars" aria-hidden="true"></span> </a>
                                                <ul>
                                                    {% if sousCategorieEntites %}
                                                        {% for sousCategorieEntite in sousCategorieEntites %}
                                                            {% if sousCategorieEntite.sousCategorieEntite.id == categorieEntite.id %}
                                                                <li>{{ sousCategorieEntite.nomEntite }} 
                                                                    <span>&nbsp;&nbsp;</span>
                                                                    <a target="_blank" title="Ajouter une marchandise" style="text-decoration: none; color: #003eff" href="{{ path('marchandise_add', { 'id': sousCategorieEntite.id }) }}" target="_blank"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
                                                                    <span>&nbsp;&nbsp;</span>
                                                                    <a title="Affectez à un indicateur" style="text-decoration: none; color: #003eff" href="{{ path('indicasousprodser_add', { 'id': sousCategorieEntite.id }) }}" target="_blank"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </a>
                                                                    <span>&nbsp;&nbsp;</span>
                                                                    <a title="Les indicateur liés cette sous categorie" style="text-decoration: none; color: #003eff" href="{{ path('indicaprodser_indicatD1SousCateg', { 'id': sousCategorieEntite.id }) }}" target="_blank"><span class="fa fa-bars" aria-hidden="true"></span> </a>

                                                                    <ul>
                                                                        {% if marchandises %}
                                                                            {% for marchandise in marchandises %}
                                                                                {% if marchandise.sousCategorieEntite.id == sousCategorieEntite.id %}
                                                                                    <li>{{ marchandise.libelle }}<span>&nbsp;&nbsp;</span>
                                                                                        <a title="Allez vers la marchandises" style="text-decoration: none; color: #003eff" href="{{ path('marchandise_show', { 'id': marchandise.id }) }}" target="_blank"><span class="fa fa-eye" aria-hidden="true"></span> </a>
                                                                                        <span>&nbsp;&nbsp;</span>
                                                                                        <a title="Affectez à un indicateur" style="text-decoration: none; color: #003eff" href="{{ path('indicamarcha_add', { 'id': marchandise.id }) }}" target="_blank"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </a>
                                                                                        <span>&nbsp;&nbsp;</span>
                                                                                        <a title="Les indicateur liés a la marchandise" style="text-decoration: none; color: #003eff" href="{{ path('indicamarcha_indicatD1Marcha', { 'id': marchandise.id }) }}" target="_blank"><span class="fa fa-bars" aria-hidden="true"></span> </a>
                                                                                    </li> 
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}    
                                                                    </ul>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>

            </div>

        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
{% endblock %}
