<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">      
        <meta name="author" content="">
        <title>{% block title %}DCI!{% endblock %}</title>
        <link rel="stylesheet" href="{{ absolute_url(asset('css/vendors/bootstrap.css')) }}" />
        <link rel="stylesheet" href="{{ absolute_url(asset('css/vendors/font-awesome.min.css')) }}" />
        <link rel="stylesheet" href="{{ absolute_url(asset('css/vendors/jquery.datetimepicker.min.css')) }}" />
        <link rel="stylesheet" href="{{ absolute_url(asset('css/style.css')) }}" />
       {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/dci_logo.PNG') }}" />
    </head>
<body> 
    <div class="container">      
        <!-- Static navbar -->
 
        
        <img src="{{ absolute_url(asset('img/dci.PNG')) }}" width="100%" id="imgBarriere"> <br><br>
           <div class="tabCat">
          {#  {{ render(controller("DciBundle:Arborescence:index")) }}#}
        </div>
        
        {% block body %}{% endblock %}
    
    {% block javascripts %}{% endblock %}
   <br> <br> <br><br> <br> 
    <footer  class="piedPage">

    </footer>
    </div>
    <script type="text/javascript"  src="{{ absolute_url(asset('js/vendors/jquery-3.1.1.min.js'))}}"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"  src="{{ absolute_url(asset('js/vendors/jquery.datetimepicker.full.js'))}}"></script>
    <script type="text/javascript"  src="{{ absolute_url(asset('js/main.js'))}}"></script>
    
    </body>
    </html>
