<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">      
        <meta name="author" content="">
        <title>{% block title %}DCI!{% endblock %}</title>
        <link rel="stylesheet" href="{{ absolute_url(asset('css/vendors/bootstrap.css')) }}" />
        <link rel="stylesheet" href="{{ absolute_url(asset('css/vendors/font-awesome.min.css')) }}" />
        <link rel="stylesheet" href="{{ absolute_url(asset('css/vendors/jquery.datetimepicker.min.css')) }}" />
        <link rel="stylesheet" href="{{ absolute_url(asset('css/style.css')) }}" />
       {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/dci_logo.PNG') }}" />
    </head>
<body> 
    <div class="container">      
        <!-- Static navbar -->
        <nav id="navbarMenu" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {#<a class="navbar-brand" href="{{  path('arborescence_index') }}">DCI</a>#}
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="menu" class="nav navbar-nav">
                        <li><a href="{{ path('arborescence_index') }}" class= 'btn1'>DCI</a></li>
                        <li><a href="{{ path('categorieentite_index') }}" class= 'btn1'>Categorie entité</a></li>
                        <li><a href="{{ path('souscategorieentite_index') }}" class= 'btn1'>Sous categorie</a></li>
                        <li><a href="{{ path('marchandise_index') }}" class= 'btn1'>Marchandise</a></li>
                        <li><a href="{{ path('indicateur_index') }}" class= 'btn1'>Indicateur</a></li>
                        <li><a href="{{ path('indicamarcha_index') }}" class= 'btn1'>Indicateur marchandise</a></li>
                        <li><a href="{{ path('indicaprodser_index') }}" class= 'btn1'>Indicateur poroduit|service</a></li>
                        <li><a href="{{ path('indicasousprodser_index') }}" class= 'btn1'>Indicateur sous produit|service</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./"> Recherche</a></li>
                        <li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                               <a href="{{path('fos_user_security_logout') }}" class=""> Se déconnecter </a>
                              
                            {% else %}
                                <a href="{{path('fos_user_security_login') }}" class=""> Se connecter </a>
                            {% endif %}  
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        
        <img src="{{ absolute_url(asset('img/dci.PNG')) }}" width="100%" id="imgBarriere"> <br><br>
        
        {% block body %}{% endblock %}
    
    {% block javascripts %}{% endblock %}
   
    <footer  class="piedPage">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Informations</h4>
                    <ul class="nav nav-stacked">                       


                    </ul>
                </div> 


                <div class="col-md-4">
                    <h4>Adresse</h4>
                    <p><i class=""></i>&nbsp;Dakar 75 000 - 3 rue Cpi</p>
                </div>
                <div class="col-md-4">
                    <h4>Nous contactez</h4>
                    <p><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Tel: XXXXX </p>
                    <p><i class=""></i>&nbsp;Fax: XXXXX</p>
                </div>
            </div>
        </div>
    </footer>
</div>
    <script type="text/javascript"  src="{{ absolute_url(asset('js/vendors/jquery-3.1.1.min.js'))}}"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"  src="{{ absolute_url(asset('js/vendors/jquery.datetimepicker.full.js'))}}"></script>
    <script type="text/javascript"  src="{{ absolute_url(asset('js/main.js'))}}"></script>
    
    </body>
    </html>
