{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="row">
        <p>
            <a style="text-decoration: none;" href="{{  path('consommateur_index') }}"><span class="fa fa-arrow-circle-left"></span> Les Consommateurs</a>
            | Afficher un Consommateur
        </p>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Un Consommateur</h3>
        </div>

        <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ consommateur.id }}</td>
            </tr>
            <tr>
                <th>Type consommateur</th>
                <td>{{ consommateur.typeConsommateur }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ consommateur.libelle }}</td>
            </tr>
            <tr>
                <th>Quantité utiliser</th>
                <td>{{ consommateur.quantiteUtiliser }}</td>
            </tr>
            <tr>
                <th>Marchandise liée</th>
                <td>{{ consommateur.marchandise.libelle }}</td>
            </tr>
        </tbody>
    </table>
            
             </div>
    <p>
        {# <a style="text-decoration: none;" href="{{ path('relevermarchandise_index') }}" class="fa fa-arrow-circle-left"> Retour vers la liste</a>#} 
        <a style="text-decoration: none; color: #003eff" href='javascript:self.history.back();'><span class="fa fa-arrow-circle-left"></span> Retour</a>   
        &nbsp;&nbsp;&nbsp;
         {% if app.user is defined and app.user is not null%}
            {% if is_granted('ROLE_ADMIN') %}
        <a style="text-decoration: none;" href="{{ path('consommateur_edit', { 'id': consommateur.id })  }}"> <span class="glyphicon glyphicon-pencil"></span> Modification</a>&nbsp;&nbsp;&nbsp;
       
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete"  class="btn btn-danger">
                {{ form_end(delete_form) }}
            {% endif %}
        {% endif %}

    </p>
{% endblock %}
