{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="row">
        <p>
            <a style="text-decoration: none;" href="{{  path('relevermarchandise_index') }}"><span class="fa fa-arrow-circle-left"></span> Les relevés liés aux Marchandise</a>
            | Afficher un relevé de Marchanandise
        </p>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Relevé de Marchanandise</h3>
        </div>

        <table class="table"> 
            <tbody>
                <tr>
                    <th>#</th>
                    <td>{{ releverMarchandise.id }}</td>
                </tr>
                <tr>
                    <th>Quantite</th>
                    <td>{{ releverMarchandise.quantite }}</td>
                </tr>
                <tr>
                    <th>Date du relever</th>
                    <td>{% if releverMarchandise.dateDuRelever %}{{ releverMarchandise.dateDuRelever|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th class="titrePage">Marchandise</th>
                    <td></td>
                </tr>
                     <tr>
                    <th>Reference</th>
                    <td>{{ releverMarchandise.indicaMarcha.marchandise.reference }}</td>
                </tr>
                <tr>
                    <th>Stade</th>
                    <td>{{ releverMarchandise.indicaMarcha.marchandise.stade }}</td>
                </tr>
                <tr>
                    <th>Libelle</th>
                    <td>{{ releverMarchandise.indicaMarcha.marchandise.libelle }}</td>
                </tr>
                <tr>
                    <th>Origine</th>
                    <td>{{ releverMarchandise.indicaMarcha.marchandise.origine }}</td>
                </tr>
                <tr>
                    <th>Type protége</th>
                    <td>{{ releverMarchandise.indicaMarcha.marchandise.typeMarchandise }}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <p>
        <a style="text-decoration: none;" href="{{ path('relevermarchandise_index') }}" class="fa fa-arrow-circle-left"> Retour vers la liste</a> &nbsp;&nbsp;&nbsp;
        <a style="text-decoration: none;" href="{{ path('relevermarchandise_edit', { 'id': releverMarchandise.id })  }}"> <span class="glyphicon glyphicon-pencil"></span> Modification</a>&nbsp;&nbsp;&nbsp;
       
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete"  class="btn btn-danger">
        {{ form_end(delete_form) }}
    </p>
{% endblock %}
