{% extends "::layout/layout.html.twig" %}

{% block body %}
    <p>
        <h2 class="titrePage">Administration des classifications : Produit | Service</h2>
        <a style="text-decoration: none;" href="{{  path('categorieentite_index') }}"><span class="fa fa-arrow-circle-left"></span> Produit-Service</a>
        | Afficher une categorie
    </p>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Afficher une classe d'entité</h3>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>Code</th>
                    <td>{{ categorieEntite.code }}</td>
                </tr>
                <tr>
                    <th class="colorSousTitre">Classe</th>
                    <td>{{ categorieEntite.typeCat }}</td>
                </tr>
                <tr>
                    <th>Libelle</th>
                    <td>{{ categorieEntite.nomEntite }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ categorieEntite.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <a style="text-decoration: none;" href="{{ path('categorieentite_index') }}" class="fa fa-arrow-circle-left"> Retour vers la liste</a> &nbsp;&nbsp;&nbsp;
        <a style="text-decoration: none;" href="{{ path('categorieentite_edit', { 'id': categorieEntite.id })  }}"> <span class="glyphicon glyphicon-pencil"></span> Modification</a>&nbsp;&nbsp;&nbsp;
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete"  class="btn btn-danger">
        {{ form_end(delete_form) }}
    </p>

{% endblock %}
