{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="row">
            <h2 class="titrePage">Les relevés du département de: {{ departement }}</h2><br>
          <table class="table table-striped table-hover">
                        <thead style="text-align: center">
                            <tr style="text-align: center">
                                <th style="text-align: center">Date du relevée</th>
                                 <th style="text-align: center">Quantite</th>
                                 <th style="text-align: center">Indicateur</th>
                            </tr>
                        </thead>
                        <tbody class="cent" style="text-align: center">

                            {% for relever in relevers %}
                                <tr> 
                                    <td style="text-align: center"> {{ relever.dateDuRelever }} </td>                
                                    <td style="text-align: center"> {{ relever.quantite }} </td>
                                    <td style="text-align: center"> {{ relever.indicateur.libelle }} </td>
                                    
                                </tr>
                            {%endfor%}

                    </tbody>
                    </table>
        
    </div>

    <div class="row">
        
        <div class="col-md-12 text-center">                                
            <div> 
                <ul class="pagination">
                    {% for p in range(1, nbrTotalPages) %}
                        <li{% if p == page %} class="active"{% endif %}>
                            <a href="{{ path('utilisateur_produits', {'page': p}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
                
            </div>  
                <P style="text-align: center">
                
                <span class="fa fa-reply"> <a style="text-decoration: none; color: blue;" href="{{ path('utilisateur_collecteur') }}">Retour</a></span>
                <span>&nbsp;</span>
               
            </P>
        </div>
    </div>
{% endblock %}
